# Configuración del Servidor de Despliegue
VPS_USER=tu_usuario
VPS_IP=111.111.111.111
VPS_PORT=22
REMOTE_DIR=/ruta/en/servidor
URL_BASE=http://localhost:8000

# Configuración de Aplicación
APP_MODE=production
LOG_LEVEL=WARNING
